.container .msg h2 {
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}
.gameBoard {
  min-height: 500px;
}
.gameBoard #gameTopper #topper {
  margin: auto !important;
  float: none !important;
}
#otherPlayers {
  padding: 0 10px;
}
.gameBoard .panel-heading {
  text-align: center;
}
.gameBoard #gameTopper .panel-heading h3 {
  color: #555;
  font-weight: bold;
}
.gameBoard .panel-body {
  padding: 3px;
}
.gameBoard .panel-body img{
  width: 100%;
}
.gameBoard .panel-footer {
  padding: 8px;
  text-align: center;
}
.gameBoard .panel-footer p{
  font-weight: bold;
  margin: 0;
}
#gameTopper {
  border-top: 1px solid #777;
  padding-top: 5px;
  margin:10px 0;
}
#buttonsDiv {
  border-top: 1px solid #777;
  margin-top: 5px;
  padding-top: 5px;
  clear: both;
  display: block;
  text-align: center;
}

/*@media (min-width:500px) and (max-width:768px) {
  .gameBoard #gameTopper .panel {
    width: 33.3334%;
  }
}

@media (max-width:500px){
  .gameBoard #gameTopper .panel {
    width: 50%;
  }
}*/
