
#tournamentArena {
  text-align: center;
  background-color: #524f4f;
}
#tournamentArena .alert {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
  min-width: 300px;
}
#tournamentArena #answerStatus {
  margin-bottom: 20px;
}
#tournamentArena #playersRow {
  padding: 0 5px;
}
#tournamentArena #playersRow>div {
  padding: 0;
}
#tournamentArena .options {
  padding-bottom: 20px;
}
#tournamentArena .option {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
}
#tournamentArena .option:nth-child(2n+1) {
  padding-left: 0;
  padding-right: 10px;
}
#tournamentArena .option:nth-child(2n) {
  padding-right: 0;
  padding-left: 10px;
}
#tournamentArena .option .btn-option {
  white-space: normal;
  font-weight: bold;
  min-height: 60px;
}
#tournamentArena .panel {
  border: 1px solid #222;
}
#tournamentArena .panel-body,
#tournamentArena .panel-heading,
#tournamentArena .panel-footer {
  padding: 0;
  background-color: #333;
  color: white;
}
#tournamentArena .panel-heading {
  border-bottom: 1px solid #222;
  border-top-left-radius: none;
  border-top-right-radius: none;
}
#tournamentArena .panel-footer {
  border-top: 1px solid #222;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}
#tournamentArena .panel-body img {
  width: 100%;
  height: 100px;
}
#tournamentArena .panel-footer {
  font-weight: bold;
}
#tournamentArena .panel-title {
  padding: 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tournamentArena #quizTitle {
  color: #ccc;
  text-align: center;
}
#tournamentArena #quizTitle h2 {
  margin-top: 5px;
}
#tournamentArena #quizTitle p {
  font-weight: bold;
  font-size: 20px;
}
#tournamentArena #question {
  border-top: 1px solid #666;
  margin-bottom: 10px;
}
#tournamentArena #question h4{
  background-color: #777;
  border: 1px solid #444;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05);
  color: #eee;
  padding: 10px;
}
#tournamentArena #question img {
  width: 400px;
  height: 300px;
}
#tournamentArena #footer {
  border-top: 1px solid #777;
  padding: 10px 0;
}
#tournamentArena #leaveGame.modal.in .modal-dialog {
    transform: translate(0px, 100px);
}
#tournamentArena #leaveGame .modal-content {
  border-radius: 8px;
}
#tournamentArena #leaveGame .modal-footer {
  background-color: #555;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 5px;
}
#tournamentArena #timer{
  font-weight: bolder;
  font-size: 60px;
  color: #5CB85C;
  animation-duration: 1s;
  animation-iteration-count: 10;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 10;
}
/*.............................................................................
                              Animations
..............................................................................*/
@keyframes timer {
  0% {
    font-size: 0;
    margin-left: -100%;
  }
  50% {
    font-size: 60px;
    margin-left: 0;
  }
  100% {
    font-size: 0;
    margin-left: 100%;
  }
}
@-webkit-keyframes timer {
  0% {
    font-size: 0;
    margin-left: -100%;
  }
  50% {
    font-size: 60px;
    margin-left: 0;
  }
  100% {
    font-size: 0;
    margin-left: 100%;
  }
}


/*.............................................................................
                              Media Queries
..............................................................................*/

@media (max-width: 768px) {
  #tournamentArena .panel-body img {
    width: 100%;
    height: 70px;
  }
  #tournamentArena #question img {
    width: 280px;
    height: 190px;
  }
}
