#tournamentCreation #heading {
	text-align: center;
	font-size : 18px;
	margin-bottom: 10px;

}
#tournamentCreation #heading hr{
	border-top: 0.5px solid orange;
	
}
#tournamentCreation .form-group label{
	font-size : 16px;
}

#levels ul{
	padding-left: 0px;
}

#levels li{
	list-style: none;
	padding: 5px;
    font-size: 14px;

}

#levels span {
	margin-right: 20px;
}

#levels #helpBlock{
	color : #1BC98E;
}