  <link rel="stylesheet" href="css/tournamentArena.css">

    <div class="container" id="tournamentArena">
      <section>
        <div class="row" id="quizTitle">
          <h2>{{quizTitle}}</h2>
          <p>{{levelDetails}}<p>
        </div>
        <div class="row text-center" id="playersRow">
          <div class="pull-left col-md-2 col-sm-3 col-xs-3">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="panel-title">
                  Topper
                </div>
              </div>
              <div class="panel-body">
                <img src="{{topperImage}}" alt="" />
              </div>
              <div class="panel-footer">
                1. {{topperScore}}
              </div>
            </div>
          </div>
          <div id="timer-container" class="col-md-8 col-sm-6 col-xs-6">
            <span id="timer">{{time}}</span>
          </div>
          <div class="pull-right col-md-2 col-sm-3 col-xs-3">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="panel-title">
                  You
                </div>
              </div>
              <div class="panel-body">
                <img src="{{myImage}}" alt="" />
              </div>
              <div class="panel-footer">
                {{myrank}}. {{myscore}}
              </div>
            </div>
          </div>
        </div>
        <div ng-show="playerJoined" class="alert alert-success" role="alert" style="margin-top:10px;padding: 7px;text-align:center;">
          {{playerJoined}}
        </div>
        <div ng-show="playerLeft" class="alert alert-warning" role="alert" style="margin-top:10px;padding: 7px;text-align:center;">
          <!-- <button type="button" class="close" ng-click="" aria-label="Close" style="margin-top: -3px;right:0;"><span aria-hidden="true">&times;</span></button> -->
          {{playerLeft}}
        </div>
        <div class="row" id="answerStatus">
          <h5 class="col-xs-12 text-center">
            <button class="btn btn-success"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-ok"></span> : 1</button>
            <button class="btn btn-danger"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-remove"></span> : 10</button>
            <button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-ban-circle"></span> : 100</button>
          </h5>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-xs-12 text-center" id="question">
            <h4><strong>{{question}}</strong></h4>
            <!-- <img src="images/v.png" alt=""> -->
          </div>
        </div><!-- end question info -->
        <div  class="row options">
          <div class="col-xs-12">
            <div ng-repeat="option in options" class="option">
              <button ng-disabled="isDisabled" ng-click = "changeColor($index,$event)" id="{{$index}}" class="btn btn-large btn-default btn-block btn-option">{{option}}</button>
            </div>
          </div>
        </div>
      </section>

      <section ng-show="questions" class="row" id="footer">
        <div class="col-xs-12">
          <button href="#leaveGame" role="button" class="btn btn-danger btn-block" data-toggle="modal"><span class="glyphicon glyphicon-chevron-left"></span> Leave Game</button>
          <div class="modal fade" id="leaveGame" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <h4>Leave Game!! Are you sure?</h4>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" ng-click="leaveGame()">Leave Now</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div><!-- end container -->
